#contactContainer {
    text-align: center;
}

.content {
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 80px;
}

@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500";